@media (min-width: 767px) and (max-width: 860px) {
  #gcb-nav-x .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }

  #gcb-nav-x li a {
    padding: 10px 11px;
  }
}

@media (max-width: 768px) {
  div[class^="gcb-col-"],
  aside[class^="gcb-col-"] {
    width: 100%;
    float: none;
  }

  .spot .gcb-bio-headers {
    float: none;
    text-align: center;
  }

  #gcb-header .gcb-pull-right {
    font-size: small !important;
    float: none;
    display: block;
    clear: both;
  }
}