{% extends 'base_course.html' %}

{% block gcb_page_info %}
  if ('gcbSetPageInfo' in window) {
    gcbSetPageInfo({
      'page_type': 'statistics',
    });
  }
{% endblock %}

{% block subtitle %}
  Subtitulo
{% endblock subtitle %}

{% block top_content %}
{% endblock %}

{% block main_content %}
<div id="gcb-main">
  <div class="gcb-article tab-content">
    <div class="gcb-aside">
      <h2>Estadísticas de Domofera MOOC</h2>

   
       <div role="tabpanel">

          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#alumnos" aria-controls="alumnos" role="tab" data-toggle="tab">Alumnos</a></li>
            <li role="presentation"><a href="#unidades" aria-controls="unidades" role="tab" data-toggle="tab">Unidades</a></li>
            <li role="presentation"><a href="#examenes" aria-controls="examenes" role="tab" data-toggle="tab">Exámenes</a></li>
          </ul>

          <!-- Tab panes -->
          <div id="estadisticas" class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="alumnos">
                <h3>Alumnos</h3>
                <div class="stat-content">
                    
                </div>
            </div>
            
            
            <div role="tabpanel" class="tab-pane" id="unidades">
                <h3>Unidades</h3>
                <div class="stat-content">
                   
                   <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Unidad / Lección</th>
                            <th>Alumnos que la han completado</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for unit in units %}
                           {% if unit.type == 'U' %}
                              <tr class="nivel1">
                                <td><b>{{ unit.unit_id }} - {{ unit.title }}</b></td>
                                <td>X alumnos</td>
                              </tr>
                              
                              {% for lesson in lessons[loop.index0] %}
                              <tr class="nivel2">
                                <td>{{ lesson.title }}</td>
                                <td>X alumnos</td>
                              </tr>
                              {% endfor %}
                              
                           {% endif %}
                          {% endfor  %}
                        </tbody>
                      </table>
                    </div>
                </div>
            </div>
            
            
            <div role="tabpanel" class="tab-pane" id="examenes">
                <h3>Exámenes</h3>
                <div class="stat-content">
                   
                   <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Exámen</th>
                            <th>Nota media</th>
                            <th>Completado por</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for assessment in assessments %}
                              <tr>
                                <td><b>{{ assessment.title }}</b></td>
                                <td>X alumnos</td>
                                <td>{{ assessment_completed_by[assessment.unit_id] }} alumnos</td>
                              </tr>
                          {% endfor  %}
                        </tbody>
                      </table>
                    </div>
                </div>
            </div>
          </div>

        </div>
   
    </div>  
  </div>
</div>

{% endblock %}
