<table class="table profile-table">

  <tr>
    {# I18N: Table header that states when a student enrolled in a course. #}
    <td>{{ gettext('Date enrolled') }}</td>
    <td>{{ date_enrolled }}</td>
  </tr>

  <tr>
    {# I18N: Table header for the student's email address. This is a noun. #}
    <td>{{ gettext('Email') }}</td>
    <td>{{ student.key().name() }}</td>
  </tr>

  <tr>
      
    {# I18N: Table header for the student's name. #}
    <td>{{ gettext('Name') }}</td>
    <td>{{ student_name }}</td>
  </tr>
  
  <tr>
    <td>Apellidos</td>
    <td>{{ apellidos }}</td>
  </tr>
  
  <tr>
    <td>Ciudad</td>
    <td>{{ ciudad }}</td>
  </tr>

  <tr>
    <td>Pais</td>
    <td>{{ pais }}</td>
  </tr>
</table>
  
<br>
<h2>Progreso</h2>
  
<table class="table profile-table">

    <tr>
        <td colspan="2">Exámenes</td>
    </tr>

  {% for assessment in score_list %}
    <tr class="nivel2">
      <td>{{ assessment['title'] }}</td>
      <td>
        {% if assessment['human_graded'] %}
          <a href="assessment?name={{ assessment.id }}">
            {% if assessment['completed'] %}
              {# I18N: Shown in the student profile page, next to an assessment title. States whether the assessment has been completed. #}
              {{ gettext('Completed') }}
            {% else %}
              {# I18N: Shown in the student profile page, next to an assignment title, as the link text for a self- or peer-reviewed assignment. #}
              {{ gettext('View assignment') }}
            {% endif %}
          </a>
        {% elif 'score' in assessment and assessment['score'] is defined %}
          <span id="assessment-score-{{assessment['title']}}">{{ assessment['score'] / 10 }} / 10</span>
        {% endif %}
      </td>
    </tr>
  {% endfor %}

  {% if overall_score != None %}
    <tr>
      {# I18N: Table header for the student's overall score. #}
      <td>Progreso general del curso</td>
      <td>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="6" aria-valuemin="0" aria-valuemax="100" style="width: {{ overall_score }}%;">
            {{ overall_score }}%
          </div>
        </div>
      </td>
    </tr>
  {% endif %}
</table>
